<div class="mainc">
    <div class="row">
        <div class="col">
            <h2>Main</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consecteturadipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet,consectetur adipiscing elit.
                Lorem ipsum dolor sit amet,consectetur adipiscing elit.
                Lorem ipsum dolor sit amet,consectetur adipiscing elit.
            </p>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col">
            <img style="max-width: 90%" src="https://ak2.picdn.net/shutterstock/videos/33338032/thumb/1.jpg">
        </div>
    </div>
</div>