<div class="mainc">
    <h2>Sidebar</h2>
    <div class="row">
        <br>
        <div class="col">
            <img style="max-width: 90%" src="https://n6-img-fp.akamaized.net/free-vector/digital-technology-background_1017-7135.jpg?size=338&ext=jpg">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consecteturadipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet,consectetur adipiscing elit.
                Lorem ipsum dolor sit amet,consectetur adipiscing elit.
                Lorem ipsum dolor sit amet,consectetur adipiscing elit.
            </p>
        </div>
    </div>

</div>